/* #region Common Rules */



:root {
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-nav: #222222;
    --clr-light-dark: #4A4A4A;
    --clr-danger: #FF0000;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

body{
    color: var(--clr-white);
    font-family: 'Lato', sans-serif;
    
}
.d_flex{
    display: flex;
    
}

/* #endregion Common Rules */


/* #region Header */

.absolute_top{
    position: absolute;
    right: 1rem;
    top:  1rem;
}

.speaker, .rotate{
    border-radius: 0.5rem;
    background-color: var(--clr-light-dark);
    padding: 0.3rem;
}
.rotate{
    margin-left: 0.5rem;
    
}
.rotate i{
    rotate: 45deg;
}

/* #endregion Header */

/* #region Main */

main {
    background-color: var(--clr-black);
    padding: 5rem 5rem 1.75rem 5rem;
    
    
}

main .card {
    position: relative;
}

.card .username {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
}

main .col-1 {
    padding: 0.2rem 0.2rem 1rem 0.2rem;

}

/* #endregion Main */

/* #region Footer */

footer{
    background-color: var(--clr-nav);
    text-align: center;
}

.icon{
    font-size: 1.5rem;
}
.button{
    padding: 0.75rem;
    align-items: center;
}
.button *{
    margin: 0.2rem;
}
footer .col-4{
    text-align: center;
}
footer .row{
    justify-content: space-between;
}
.end_meeting{
background-color: var(--clr-light-dark);
color: var(--clr-danger);
padding: 2rem;
position: absolute;
right: 0;

}
.position_relative{
    position: relative;
}

    
    
    
    /* #endregion Footer */

/* #region Grid Flexbox */
.col-1 {
    width: calc((100% / 7) * 1);
}
.col-2 {
    width: calc((100% / 12) * 2);
}
.col-4 {
    width: calc((100% / 12) * 4);
}


/* #endregion Grid Flexbox */